<mat-toolbar color="primary">
  <!-- Logo -->
  <button mat-button routerLink="/courses" class="logo-btn">
    <img src="/logo.png" alt="SisPCE" height="40" />
  </button>

  

  <!-- Menu suspenso de NCE -->
  <ng-container *ngIf="isLoggedIn">
    <button mat-button [matMenuTriggerFor]="nceMenu">Menu NCE</button>
    <mat-menu #nceMenu="matMenu">
      <button
        mat-menu-item
        *ngIf="userRoles.includes('ROLE_ADMIN') || userRoles.includes('ROLE_BASIC')"
        routerLink="/courses"
      >
        Adicionar NCE
      </button>
      <button mat-menu-item routerLink="/listaNce">Lista de NCE's</button>
    </mat-menu>
  </ng-container>

  <!-- Menu suspenso de Administração -->
  <ng-container *ngIf="isLoggedIn && userRoles.includes('ROLE_ADMIN')">
    <button mat-button [matMenuTriggerFor]="adminMenu">Administração</button>
    <mat-menu #adminMenu="matMenu">
      <button mat-menu-item routerLink="/candidatos">Candidatos</button>
      <button mat-menu-item routerLink="/cadastroUsuario">Usuários</button>
    </mat-menu>
  </ng-container>

  <div *ngIf="isLoggedIn && userRoles.includes('ROLE_ADMIN')" class="ms-auto">
    <button mat-icon-button [matBadge]="pendentesCount" matBadgeColor="warn"
            (click)="abrirModalSolicitacoes()">
      <mat-icon>notifications</mat-icon>
    </button>
  </div>

  <!-- Espaço para empurrar o resto pro lado direito -->
  <span class="spacer"></span>

  <!-- Usuário Logado -->
  <div *ngIf="isLoggedIn" class="user-info">
    <p class="username">Usuário: {{ username }}</p>
    <p class="role">
      Nível de acesso:
      <span [ngSwitch]="userRoles[0]">
        <span *ngSwitchCase="'ROLE_BASIC'">Criador</span>
        <span *ngSwitchCase="'ROLE_ADMIN'">Administrador</span>
        <span *ngSwitchCase="'ROLE_APROVADOR'">Aprovador</span>
        <span *ngSwitchCase="'ROLE_CADESM'">CADESM</span>
        <span *ngSwitchCase="'ROLE_DIRETORIA'">Diretoria</span>
        <span *ngSwitchCase="'ROLE_CMT'">Comandante</span>
        <span *ngSwitchCase="'ROLE_EME'">EME</span>
        <span *ngSwitchDefault>Usuário</span>
      </span>
      <span>⏳ Sessão expira em: {{ formatTime(remainingTime) }} </span>
    </p>
  </div>

  <!-- Botões à direita -->
  <div class="actions">
    <!-- Toggle Tema -->
    <mat-slide-toggle (change)="toggleTheme()">🌞🌙</mat-slide-toggle>

    <!-- Logout -->
    <button
      mat-stroked-button
      color="warn"
      *ngIf="isLoggedIn"
      (click)="logout()"
    >
      Sair
    </button>
  </div>
</mat-toolbar>
