<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">Lista de NCE's</h5>
      <div
        class="d-flex justify-content-end mb-2"
        style="
          position: absolute;
          top: 0;
          right: 0;
          margin-top: 10px;
          margin-right: 10px;
        "
      >
        <button class="btn" (click)="gerarRelatorioPrioridades()">
          <i class="fas fa-file-pdf"></i> Relatório de Prioridades
        </button>
      </div>
    </div>

    <mat-form-field
      appearance="outline"
      class="w-25 me-3"
      style="margin-top: 10px; margin-left: 20px; margin-bottom: -30px"
    >
      <mat-label>Ano de Capacitação</mat-label>
      <mat-select
        [(value)]="selectedAnoCapacitacao"
        (selectionChange)="applyAnoCapacitacaoFilter()"
      >
        <mat-option *ngFor="let ano of anosCapacitacao" [value]="ano">
          {{ ano }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="card-body">
      <!-- Mensagem quando não há cursos -->
      <div *ngIf="!courses.length" class="alert alert-info mt-4">
        Nenhum curso disponível para o ano de capacitação selecionado.
      </div>
      <div *ngIf="courses.length" class="table-container">
        <table width="100%">
          <thead>
            <tr>
              <th>Nº Ord</th>
              <th>Posto/Perfil</th>
              <th>Conhecimento Específico</th>
              <th>Aplicação/PAC</th>
              <th>IES/Prio/Local</th>
              <th>Ações</th>
              <th>Status</th>
              <!-- <th>Reordenar</th> -->
            </tr>
          </thead>
          <tbody
            cdkDropList
            (cdkDropListDropped)="drop($event)"
            [cdkDropListData]="dataSource.data"
          >
            <tr
              *ngFor="let course of dataSource.data; let i = index"
              cdkDrag
              [cdkDragData]="course"
            >
              <td style="text-align: center">
                {{ course.prioridade || "-" }}
              </td>
              <td style="text-align: center">
                {{ course.posto.descricao }}
              </td>
              <td class="limitarTd">
                {{ course.conhecimentoEspacifico }}
              </td>
              <td class="limitarTd">
                {{ course.aplicacaoPac }}
              </td>
              <td class="limitarTd">
                {{ course.ies }}
              </td>
              <td style="text-align: center; padding: 2px">
                <div
                  *ngIf="
                    userRoles.includes('ROLE_BASIC') ||
                    userRoles.includes('ROLE_ADMIN')
                  "
                  class="btn-group"
                  role="group"
                  aria-label="Button group with nested dropdown"
                >
                  <button
                    *ngIf="
                      userRoles.includes('ROLE_BASIC') &&
                      course.statusNce === 'CRIADA'
                    "
                    type="button"
                    class="btn btn-success"
                    (click)="despacharCourse(course)"
                  >
                    <i class="far fa-envelope"></i> Despachar
                  </button>
                  <button
                    *ngIf="
                      (userRoles.includes('ROLE_BASIC') ||
                        userRoles.includes('ROLE_ADMIN')) &&
                      course.statusNce === 'CRIADA'
                    "
                    type="button"
                    class="btn btn-danger"
                    (click)="confirmDelete(course.nceId)"
                  >
                    <i class="far fa-trash-alt"></i> Deletar
                  </button>

                  <div class="btn-group" role="group">
                    <button
                      id="btnGroupDrop1"
                      type="button"
                      class="btn btn-secondary dropdown-toggle"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Mais ações
                    </button>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="btnGroupDrop1"
                      style="cursor: pointer"
                    >
                      <li>
                        <a
                          *ngIf="course.statusNce === 'LIBERADO_CANDIDATO'"
                          class="dropdown-item"
                          (click)="openAddCandidateModal(course.nceId)"
                          >Incluir Candidato</a
                        >
                      </li>
                      <li *ngIf="userRoles.includes('ROLE_ADMIN')">
                        <a
                          class="dropdown-item"
                          (click)="openUploadModal(course.nceId)"
                          >Anexar documentos</a
                        >
                      </li>
                      <li *ngIf="userRoles.includes('ROLE_ADMIN')"><hr class="dropdown-divider" /></li>
                      <li>
                        <a class="dropdown-item" (click)="viewNce(course.nceId)"
                          >Visualizar NCE</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
                <div
                  *ngIf="
                    !userRoles.includes('ROLE_BASIC') &&
                    !userRoles.includes('ROLE_ADMIN')
                  "
                  class="btn-group"
                  role="group"
                  aria-label="Button group with nested dropdown"
                >
                  <button
                    *ngIf="course.status == null"
                    type="button"
                    class="btn btn-success"
                    (click)="aprovarNce(course)"
                  >
                    Aprovar
                  </button>
                  <button
                    *ngIf="course.status == null"
                    type="button"
                    class="btn btn-danger"
                    (click)="reprovarNce(course)"
                  >
                    Reprovar
                  </button>
                  <button
                    *ngIf="course.status == null"
                    type="button"
                    class="btn btn-warning"
                    (click)="viewNce(course.nceId)"
                  >
                    Visualizar NCE
                  </button>
                </div>
              </td>
              <td>
                <div class="timeline-dots">
                  <div
                    *ngFor="let step of statusSteps; let idx = index"
                    class="dot"
                    [class.active]="idx <= getStatusIndex(course.statusNce)"
                    [class.rejected]="
                      idx === getStatusIndex(course.statusNce) &&
                      (course.statusNce?.startsWith('INDEFERIDO') ||
                        course.statusNce?.startsWith('REPROVADO'))
                    "
                    matTooltip="{{ statusLabels[step] || step }}"
                  ></div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        [length]="courses.length"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</div>

<!-- Modal para anexar documentos -->
<div
  class="modal fade"
  id="uploadModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="uploadModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document" id="uploadModal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadModalLabel">Anexar Documentos</h5>
      </div>
      <div class="modal-body">
        <!-- Botão estilizado para abrir o seletor de arquivos -->
        <button class="btn btn-primary" (click)="triggerFileInput()">
          Selecionar Arquivos
        </button>
        <input
          type="file"
          (change)="onFileSelected($event)"
          id="fileInput"
          multiple
          accept="application/pdf"
          style="display: none"
        />
        <!-- Exibir lista de arquivos anexados -->
        <ul class="list-group mt-3">
          <li
            *ngFor="let file of selectedFiles; let i = index"
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            {{ file.name }}
            <button
              type="button"
              class="btn btn-danger btn-sm"
              (click)="removeAttachment(i)"
            >
              Remover
            </button>
          </li>
        </ul>
        <!-- Exibir mensagem quando não há arquivos anexados -->
        <div
          *ngIf="selectedFiles.length === 0"
          class="alert alert-warning mt-2"
        >
          Nenhum arquivo anexado.
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="clearFiles()"
        >
          Fechar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="uploadFile(nceId)"
        >
          Enviar
        </button>
      </div>
    </div>
  </div>
</div>
