<div class="container mt-4">
    <div class="card">
      <div class="card-header">
      <h5 class="mb-0">Editar NCE</h5>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label>Nº Ord</label>
        <input
          id="editCourseName"
          [(ngModel)]="nceDetails.nceId"
          class="form-control"
          disabled="true"
        />
        <label>Posto/Perfil</label>
        <select class="form-control select" [(ngModel)]="nceDetails.posto">
          <option *ngFor="let posto of postos" [value]="posto">
            {{ posto }}
          </option>
        </select>
        <label for="editCourseName">Conhecimento Específico</label>
        <input
          id="editCourseName"
          [(ngModel)]="nceDetails.conhecimentoEspacifico"
          class="form-control"
          placeholder="Digite o novo nome do curso"
        />
        <label for="editCourseName">Aplicação/PAC</label>
        <input
          id="editCourseName"
          [(ngModel)]="nceDetails.aplicacaoPac"
          class="form-control"
          placeholder="Digite o novo nome do curso"
        />
      </div>
  
          <div class="mt-3">
            <button class="btn btn-success" (click)="updateNce()">
              Salvar Alterações
            </button>
            <!-- Botão de Cancelar -->
            <button class="btn btn-secondary" (click)="cancelEdit()">
              Cancelar
            </button>
          </div>
      </div>
    </div>
  </div>
  