<div class="container mt-4" *ngIf="candidato">
  <h3>Detalhes do Candidato</h3>
  <ul class="list-group">
    <li class="list-group-item"><strong>Nome:</strong> {{ candidato.nome }}</li>
    <li class="list-group-item"><strong>Email:</strong> {{ candidato.email }}</li>
    <li class="list-group-item"><strong>Celular:</strong> {{ candidato.celular }}</li>
    <li class="list-group-item"><strong>Posto:</strong> {{ candidato.posto }}</li>
    <li class="list-group-item"><strong>Estado Civil:</strong> {{ candidato.estadoCivil }}</li>
  </ul>
</div>
